################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BurninWiper/bin
/BurninWiper/obj
/.vs
